*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: brown;
}

section {
    width: 80%;
    min-width: 100px;
    max-width: 500px;
    min-height: 500px;
    background-color: blue;
    margin: 0 auto;
}